.section#about
    .wrapper
        .content
            h1 About me
            p 
                |I'm Alexander, born in 1999 I'm 20 years of age and live in the city of Tromsø, Norway.
                |I was born and raised in this city, but I'm aching to explore the world, and my own country.
                |Ever since I was 12 years old I have been highly interested in all topics related to computer science,
                |and quickly knew to pursue a career within the field. Today I am versed in many programming languages, and
                |have thousands upon thousands of hours of practice under the belt. Specifically related to web development.
            p
                |When I first learned to program it quickly became apparent to me that web development was the route I wanted to go down
                |It's such a flexible technology, and with such a wide reach, I certainly think it's the future of computing, and therefore
                |have a lot of experience with web development from many perspectives, and would love a job within the field.
            p
                |I love learning, which makes me a flexible candidate for any new work environment. I also love challenges, and enjoy
                |testing myself. I'm lively, engaged, effective, and tidy, at least for the most part.