.section#contact
    .content
        h1 Contact me
        p 
            |I'm always looking for work. If you're interested in me and my skillset
            |, or have any questions regarding any of it
            |then please contact me using the form.
            |I'll be glad to answer any of your questions.
            | References are available.
    form.contact
        input(type="email", placeholder="Where can I reach you? (email)", name="email")
        textarea(name="body", placeholder="What's it about?")
        button(type="submit") Send