.section#contact
    .content
        h1 Contact me
        p 
            |I'm always looking for work. If you're interested in me and my skillset
            |, or have any questions regarding any of it
            |then please contact me using the email address below.
            |I'll be glad to answer any of your questions.
            | References are available.
        h2 alexander@thenorwegian.dev