.section#education
    .content
        h1 Education
        .education
            p 2015-2018
            .pill
                p Kongsbakken High School
                p Science and Technology
            .sep
            p 2018-2021
            .pill
                p University of Tromsø (UiT)
                p Computer Science bachelors
            .sep
            p 2021-2023
            .pill.to-come
                p University of Tromsø (UiT)
                p Master's degree computer Science