.section#experience
    .content
        h1 Work experience
        .experience
            .meta
                p.name AS Hugo Ellingsen
                p.position In house software developer
                p.date 2015 - ...
            .body
                p
                    |For hugo Ellingsen I work as a form of freelance developer. Developing and maintaining projects, mostly in my spare time
                    |they have given me many opportunities to create and maintain applications of different scale and uses, both for web, mobile, and kiosk
                    |purposes and have given me a great environment to create and learn beyond just development, but also maintaining applications in production.
            .meta
                p.name The Riddu Festival
                p.position Staff leader - Catering
                p.date Summer 2018, 2019 - ...
            .body
                p
                    |After outsanding volunteer work at the festival the year prior (2017) I was offered a position at the festival as a "staff leader"
                    |My task with the festival has been to run a kiosk and a café. Before
                    |the festival I've helped reform many of the systems in place to help make it a smoother running
                    |system of cogs, and have gotten lots of recognition for this.
                    |During the festival I've been responsible for training volunteers, providing them with the
                    |resources they need to do their jobs, place orders, and all other kinds of coordination related tasks, essentially acting as a manager
                    |for two locations at once. My position with Riddu has allowed me to improve my skills handling stress and coordination of large, intricate tasks
                    |and has forced me to get used to thinking on my feet. While planning is important, being able to handle all the small changes on the fly without it
                    |ruining these plans is a skill on it's own that I'm glad Riddu taught me.
            .meta
                p.name Shell
                p.position Sales associate
                p.date May 2018 - ...
            .body
                p
                    |With Shell I've been working as a sales associate, focusing on selling food and beverages, as well as some car related
                    |products. With Shell I have taken away a lot of experience with proper customer service, how to handle customers who can be
                    |<i>difficult</i>, and how to handle stress even better as it is a large part of an often hectic workday with tasks to be done and
                    |many customers to be served.