nav
    ul
        li 
            a(href="#home") Home
        li 
            a(href="#about") About me
        li 
            a(href="#education") Education
        li 
            a(href="#experience") Experience
        li 
            a(href="#tech") Technologies
        li 
            a(href="#portfolio") Portfolio
        li
            a(href="#contact") Contact
        li 
            a(href="https://thenorwegian.dev") Blog