.section#portfolio
    .content
        .intro
            .body
                h1 Portfolio
                p 
                    |Over the past few years I've gotten to test the water of
                    |professional web development. Below you find a small list of
                    |projects I am most proud of, and that my customers are most satisfied with.
                    |That said, below you find listed pretty much all the other projects I have done.
        .project(style='background-image:url(' + require("../imgres/placeholder.jpg").default + ')')
            .fade
                .body
                    h1 Hugo Ellingsen Tannteknisk Laboratorium AS's home website
                    p
                        |Having worked as a form of "part time freelancer" on behalf of Hugo Ellingsen for a number of years
                        |I was given the task of designing and creating a brand spanking new website in 2020. The site needed
                        |flexibility, therefore WordPress was chosen as the CMS for the site, but also a slick design that would
                        |blow competing dental laboratories out of the water. Hugo Ellingsen in that way offered me an experimental
                        |platform where I could create a custom design and put it into the wild, without the risks of a more private
                        |customer purchasing a site from me. That way I got a great learning experience in making wordpress themes and
                        |putting them into the wild, to meet the needs of a business, without any dangerous traps.
        .project(style='background-image:url(' + require("../imgres/simshjelpen.png").default + ')')
            .fade
                .body
                    h1 Simshjelpen's website
                    p
                        |Simshjelpen is a form of news/general content website regarding The Sims franchise. The site needed to be able
                        |to have dynamic content, pages, wide features in the editors, and wide plugin support. Therefore WordPress was yet again
                        |chosen as the go-to CMS. For the site I developed a completely custom theme that helps convey the site's information in a simple,
                        |clean manner. Since the site is mostly conveying content through social media and search engine clicks a focus was put on optimizing
                        |SEO, and on making the article and page designs nice and sleek, rather than putting a lot of time into the other parts of the site.
        .project(style='background-image:url(' + require("../imgres/tts.png").default + ')')
            .fade
                .body
                    h1 Tromsø Tannlegesenter's home site
                    p 
                        |In 2018 I was tasked with making Tromsø Tannlegesenter a new home website.
                        |Through thorough communication with the team I helped them design a new logo,
                        |and make a whole new website that they could actually use. Migrating from an old,
                        |static HTML site that was hard to update, and with nobody to maintain it, to a new site
                        |that is WordPress based, meaning mostly self maintained, and with me aiding them in maintenance
                        |on rare occasion. Compared to Hugo Ellingsen's new website they needed a theme that was proven feature rich and that worked, and a premade
                        |wordpress theme was therefore chosen. I will have to admit that my design skills have grown since then, finding many flaws
                        |with the website today, but I am actively intending to help iron them out over time.