.section#tech
    .content
        h1 Technologies
        p 
        |Through thousands of hours of practice I have learned a wide set of
        |technologies fitting into a web-development and general tech stack. Below you find a
        |list of the stuff I'm best at. Note that this is only scraping at the surface of my knowledge level
        |with different technologies, it's just the highlights. Please take me in for an interview to learn more of my skills and knowledge.
        .tech-container
            .tech
                i.fab.fa-angular
                p Angular
            .tech
                i.fab.fa-node-js
                p Node JS
            .tech
                i.fab.fa-node
                p Express
            .tech
                i.fa.fa-database
                p MySQL
            .tech
                i.fa.fa-globe
                p JS, CSS, HTML5
            .tech
                i.fa.fa-code
                p TypeScript
            .tech
                i.fa.fa-code
                p PHP
            .tech
                i.fab.fa-python
                p Python