.section#tech
    .content
        h1 Technology
        p 
        |Through thousands of hours of practice I have learned a wide set of
        |technologies fitting into a web-development and general tech stack. Below you find a
        |list of the stuff I'm best at.
        .tech-container
            .tech
                i.fab.fa-angular
                p Angular
            .tech
                i.fab.fa-node-js
                p Node JS
            .tech
                i.fab.fa-node
                p Express
            .tech
                i.fa.fa-database
                p MySQL
            .tech
                i.fa.fa-globe
                p Web (JS, CSS, HTML5)
            .tech
                i.fa.fa-code
                p TypeScript
            .tech
                i.fa.fa-code
                p PHP
            .tech
                i.fab.fa-python
                p Python