doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=0.5")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        title Alexander Hansen

    body
        #menu
            i.fa.fa-bars
        include templates/menu.pug
        include templates/landingpage.pug
        include templates/about.pug
        include templates/education.pug
        include templates/experience.pug
        include templates/tech.pug
        include templates/portfolio.pug
        include templates/contact.pug
    footer
        include templates/footer.pug